.collection-app > .balance {
    position: absolute;
    top: 15px;
    right: 15px;
}

.order-div {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    z-index: 850;
}

.order-div > .order-by {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--semi-black);
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.collection-app > .page-switch {
    position: absolute;
    top: 15px;
}

.order-div > .order-by > h3 {
    color: var(--semi-black);
    font-size: 16px;
    padding: 0px 13px;
}

.order-div > .order-by > button {
    color: var(--white);
    background-color: var(--semi-black);
    height: 100%;
    padding: 11px 18px;
    border-radius: 200px;
    font-style: italic;
    cursor: pointer;
}

.collection-app > .cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 80px 30px 40px;
}

.collection-app > .cards-container > .card {
    margin: 20px;
}

.collection-app > .cards-container > strong {
    opacity: .5;
    font-size: 30px;
    font-weight: 100;
    margin: 50px;
    text-align: center;
}

@media (max-width: 800px) {
    .collection-app > .balance {
        position: relative;
        top: unset;
        right: unset;
        min-height: 44px;
        margin-top: 15px;
    }

    .collection-app > .order-div {
        position: relative;
        top: unset;
        left: unset;
        margin: 0;
    }

    .collection-app > .page-switch {
        position: relative;
        top: unset;
        left: unset;
        margin: 15px 0;
    }

    .collection-app > .cards-container {
        margin: 20px 30px 40px;
    }
}