.achievements-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px;
    margin-top: 80px;
    flex-direction: row;
    flex-wrap: wrap;
}

.achievements-div > .logro {
    margin: 15px;
}

.achievements-app > .balance {
    position: fixed;
    top: 15px;
}

.achievements-app > h2 {
    margin: 50px;
    opacity: .7;
    font-size: 50px;
}