.card {
  overflow: hidden;
  background: linear-gradient(
    220.55deg,
    rgb(190, 197, 204) 0%,
    var(--white) 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px 10px 30px 30px;
  padding: 0;
  position: relative;
  cursor: pointer;
  user-select: none;
  box-shadow: 4px 5px 20px #27224981, inset 3px 3px 10px #27224952;
  border: 3px solid var(--primary-color);
  transition: all 0.2s ease;
  height: 370px;
  width: 290px;
}

.card.legendary {
  border: 3px solid var(--legendary);
  box-shadow: 4px 5px 20px #27224981, inset 3px 3px 10px #27224952,
    0px 0px 22px 4px var(--legendary);
  outline: 1px solid var(--legendary);
}

.card > * {
  color: var(--semi-black);
}

.card * { 
  z-index: 3;
}

.card.off {
  transform: scale(0);
  opacity: 0;
}

.card > div {
  overflow: hidden;
  width: 290px;
  height: 290px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 7px 0 rgba(0, 0, 0, 0.212), 0 3px 8px #00000070;
  border-radius: 0 0 30px 30px;
  position: relative;
}

.card > div > span {
  position: absolute;
  background-color: rgb(223, 232, 240);
  color: var(--semi-black);
  padding: 5px 9px 10px 15px;
  border: none;
  border-radius: 0 0 0 25px;
  top: 0;
  right: 0;
  font-style: italic;
  box-shadow: 4px 5px 20px #27224981, inset 3px 3px 10px #27224928;
}

.card > div > .stars {
  position: absolute;
  background-color: var(--semi-black);
  color: var(--white);
  padding: 8px 15px 8px 15px;
  bottom: 0;
  right: 0;
  border-radius: 25px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.card > div > .earns {
  position: absolute;
  background-color: #40da40af;
  box-shadow: 0px 0px 11px 5px #40da40af;
  color: var(--white);
  padding: 8px 15px 7px 15px;
  bottom: 0;
  left: 0;
  border-radius: 0 25px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.card.legendary > div > .stars {
  position: absolute;
  background-color: var(--legendary);
  box-shadow: 0px 0px 11px 5px var(--legendary);
  color: var(--semi-black);
  padding: 8px 15px 8px 15px;
  bottom: 0;
  right: 0;
  border-radius: 25px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  animation: new-bounce 2s ease infinite;
}

.card > div > .update {
  position: absolute;
  background-color: var(--legendary);
  box-shadow: 0px 0px 11px 5px var(--legendary);
  color: var(--semi-black);
  padding: 8px 15px 8px 15px;
  top: 0;
  left: 0;
  border-radius: 0px 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  animation: new-bounce 2s ease infinite;
}

.card.legendary > div > .stars > svg {
  color: var(--semi-black);
}

.card > div > .new {
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 15px -3px var(--semi-black);
  color: var(--semi-black);
  padding: 8px 18px 8px 15px;
  bottom: 0;
  right: 0;
  border-radius: 25px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.card.legendary > div > .new {
  position: absolute;
  background-color: var(--legendary);
  box-shadow: 0px 0px 11px 5px var(--legendary);
  color: var(--semi-black);
  padding: 8px 18px 8px 15px;
  bottom: 0;
  right: 0;
  border-radius: 25px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  animation: new-bounce 2s ease infinite;
}

@keyframes new-bounce {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.card > div > .stars > svg {
  font-size: 20px;
  margin-left: 2px;
}

.card > div > img {
  height: 102%;
  z-index: 2;
}

.card > div > svg {
  font-size: 85px;
  color: var(--semi-black);
  animation: rotation 0.5s cubic-bezier(0.34, 0.93, 0.72, 0.53) infinite;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
}

.card > p {
  margin-bottom: 15px;
  opacity: 0.8;
}

.card > strong {
  font-size: 19px;
}
