.white-box {
  padding: 20px;
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 4px 5px 20px #27224981, inset 3px 3px 10px #27224952;
  border: 2px solid var(--primary-color);
}

.shiny:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.753);
  animation: shiny-btn1 3s ease-in-out infinite;
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}