@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
  background: var(--bg);
	background-size: 200% 200%;
	animation: var(--bg-animation);
	height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bg-main {
  background: var(--bg);
	background-size: 200% 200%;
	animation: var(--bg-animation);
}

button {
  border: none;
  outline: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--primary-font);
}

h1, h2, h3, h4, div, span, p, strong, time {
  color: var(--white);
}

:root {
  --primary-font: 'PT Sans', sans-serif;
  --secondary-font: 'ABeeZee', sans-serif;
  --white: #f0f8ff;
  --semi-black: #272249;
  --bg: linear-gradient(220.55deg, #4063BC 0%, #63076b 100%);
  --bg-animation: gradient 25s ease infinite;
  --primary-color: #9486e6;
  --legendary: #ecbf43;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.app::-webkit-scrollbar {
  width: 12px;
}

.app::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 10px;
}

.app::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 10px;
}

.app::-webkit-scrollbar-track {
  background-color: transparent;
}

#root {

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

a {
  text-decoration: none;
}

*::selection {
  background-color: var(--primary-color);
}
